openapi: 3.0.2
info:
  version: 1.0.0
  title: Quandefi
  termsOfService: 'https://quanwallet.io/terms/'
  contact:
    email: contact@quanwallet.io
    url: 'http://quanwallet.io/contact'
  x-logo:
    url: 'https://quandefi.github.io/docs/logo.png'
  description: >

    # Introduction

    This is the entrypoint to the Quandefi ecosystem.

externalDocs:
  description: Here is an example product that has integrated the Quan API
  url: 'https://notables.co'
tags:
  - name: Users
    description: Operations about users
  - name: Markets
    description: Operations about products
  - name: Wallets
    description: Operations about wallets
servers:
  - url: 'https://quanwallet.io'
paths:
  '/users':
    $ref: 'paths/users.yaml'
  '/users/{user_id}':
    $ref: 'paths/users@{user_id}.yaml'

  '/markets/products':
    $ref: 'paths/markets@products.yaml'
  '/markets/products/{product_id}':
    $ref: 'paths/markets@products@{product_id}.yaml'
  '/markets/orders':
    $ref: 'paths/markets@orders.yaml'
  '/markets/orders/{order_id}':
    $ref: 'paths/markets@orders@{order_id}.yaml'
  '/markets/collections':
    $ref: 'paths/markets@collections.yaml'
  '/markets/collections/{collection_id}':
    $ref: 'paths/markets@collections@{collection_id}.yaml'

  '/wallets':
    $ref: paths/wallets.yaml
  '/wallets/{wallet_id}':
    $ref: 'paths/wallets@{wallet_id}.yaml'

  # '/blockchain/assets{id}':
  #   $ref: 'paths/blockchain@assets{id}.yaml'
  # '/blockchain/assets{id}/transactions':
  #   $ref: 'paths/blockchain@assets{id}@transactions.yaml'

components:
  securitySchemes:
    main_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: 'http://example.com/api/oauth/dialog'
          scopes:
            'read:users': read users info
            'write:users': modify or remove users
            'read:products': read products info
            'write:products': modify or remove products
            # 'read:collections': read collections info
            # 'write:collections': modify or remove collections
    basic_auth:
      type: http
      scheme: basic