openapi: 3.0.2
info:
  version: 1.0.0
  title: Quandefi
  termsOfService: 'https://quandefi.io/terms/'
  contact:
    email: contact@quandefi.io
    url: 'http://quandefi.io/contact'
  x-logo:
    url: 'https://quandefi.github.io/docs/logo.png'
  description: >

    # Introduction

    This is the entrypoint to the Quandefi ecosystem.

externalDocs:
  description: Here is an example product that has integrated the Quan API
  url: 'https://notables.co'
tags:
  - name: Users
    description: Operations about users
  - name: Profiles
    description: Operations about profiles
  - name: Assets
    description: Operations about assets
  - name: Products
    description: Operations about products
  - name: Orders
    description: Operations about orders
  - name: Collections
    description: Operations about collections
  - name: Wallets
    description: Operations about wallets
  - name: PaymentInstruments
    description: Operations about payment instruments
  - name: MarketingSubscriptions
    description: Operations about marketing subscriptions
servers:
  - url: https://api.quandefi.io
    description: Production 
  - url: https://api-uat.quandefi.io
    description: Testing 
  - url: https://api-dev.quandefi.io
    description: Development 
paths:
  '/users':
    $ref: 'paths/users.yaml'
  '/users/{user_id}':
    $ref: 'paths/users@{user_id}.yaml'

  '/markets/profiles':
    $ref: 'paths/markets@profiles.yaml'
  '/markets/profiles/{profile_id}':
    $ref: 'paths/markets@profiles@{profile_id}.yaml'

  '/markets/assets':
    $ref: 'paths/markets@assets.yaml'
  '/markets/assets/{asset_id}':
    $ref: 'paths/markets@assets@{asset_id}.yaml'
  '/markets/assets/{asset_id}/orders':
    $ref: 'paths/markets@assets@{asset_id}@orders.yaml'

  '/markets/products':
    $ref: 'paths/markets@products.yaml'
  '/markets/products/{product_id}':
    $ref: 'paths/markets@products@{product_id}.yaml'

  '/markets/orders':
    $ref: 'paths/markets@orders.yaml'
  '/markets/orders/{order_id}':
    $ref: 'paths/markets@orders@{order_id}.yaml'

  '/markets/collections':
    $ref: 'paths/markets@collections.yaml'
  '/markets/collections/{collection_id}':
    $ref: 'paths/markets@collections@{collection_id}.yaml'

  '/wallets':
    $ref: paths/wallets.yaml
  '/wallets/{wallet_id}':
    $ref: 'paths/wallets@{wallet_id}.yaml'
  '/wallets/{wallet_id}/payment_instrument':
    $ref: 'paths/wallets@{wallet_id}@payment_instrument.yaml'
  '/wallets/{wallet_id}/payment_instrument/{payment_instrument_id}':
    $ref: 'paths/wallets@{wallet_id}@payment_instrument@{payment_instrument_id}.yaml'
  '/wallets/encryption':
    $ref: 'paths/wallets@encryption.yaml'

  '/marketing/subscriptions':
    $ref: 'paths/marketing@subscriptions.yaml'

components:
  securitySchemes:
    main_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: 'http://api.quandefi.io/api/oauth/dialog'
          scopes:
            'read:users': read users info
            'write:users': modify or remove users
            'read:profiles': read profiles info
            'write:profiles': modify or remove profiles
            'read:assets': read assets info
            'write:assets': modify or remove assets
            'read:products': read products info
            'write:products': modify or remove products
            'read:collections': read collections info
            'write:collections': modify or remove collections
            'read:orders': read orders info
            'write:orders': modify or remove orders
            'read:wallets': read wallets info
            'write:wallets': modify or remove wallets
            'read:payment_instruments': read payment_instruments info
            'write:payment_instruments': modify or remove payment_instruments
    basic_auth:
      type: http
      scheme: basic